
div{
    border: 2px solid black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQf_b8OkbHmGzd7V_52JpVUn5Tu6_aDSMk2CW07qodWQ&s");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    color:white;
}
