
.box{
    background-color: beige;
    
    border: 2px solid red;
    border-radius: 10px;
    margin:0 40%;
    width: 200px;
    height: 147px;
    padding: 15px;
}
.box div{
    padding: 5px;
    margin: 8px;
}
button{
    text-align: center;
    background-color: red;
    width: 80px;
    height: 25px;
    color: whitesmoke;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0px 50px;
}
input{
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px;
    text-size-adjust: auto;
    box-shadow: inset;
}